/* add css styles here (optional) */

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}

.weui-form-preview__value {
  font-style: normal;
}

body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
